<!DOCTYPE html>
<html lang="en">
<head>
	<title>Failure</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <style>
        
        img {
    align-content: center;
    margin-left: 25%;

        }
        p{
            text-align: center;
            font-size: 25px;
        }
        </style>

</head>
<body>

        

    <span>

           <p> <a href = "http://localhost:1337" > Login Again </a> </p>

    </span>
                    <img src="/images/sorry.png" width= "50%" height="50%" >

                   
</body>
</html>

