<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
  height: 100%;
  width: 100%;
  font-size: 90px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
        </style>
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/images/icons/logo.ico"/>
    <script type="text/javascript" src="/js/date_time.js"></script>
</head>
<body>
    <span id="date_time" class="container">
    <script type="text/javascript">window.onload = date_time('date_time');</script>
</span>
</body>
</html>

